@model List<TripApp.Models.Trip>

<h1>Trip List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Destination
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripDateStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripDateEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a href="@Url.Action("Create", "ClientReservation", new { tripId = item.TripId })">Create Reservation</a>
                </td>
            </tr>
        }
    </tbody>
</table>
